.header-title{
  padding-top: 100px;
}

.form{
  margin-top: 40px;
}

.header{
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('https://cdn.pixabay.com/photo/2022/09/14/22/51/tokyo-7455349_960_720.jpg');
}

.btn-search{
  background-color: rgb(92, 0, 0);
}

.thumbnail{
  max-height: 180px;
  background-size:contain;
}

.bi-arrow-right-short{
  color: rgb(85, 0, 52);
}